* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

body {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side-bar {
    padding: 8px 12px 20px;
    border-right: 200px #000000;
    
}

.bind {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    margin: 0px 0px 19px;
    padding: 25px 12px 16px;
}

.side-nav {
    display: grid;
    justify-content: flex-start;
    align-items: center;
}

.profile-pic img {
    border-radius: 50px;
}

.side-nav img,
.burger img {
    height: 26px;
    width: 24px;
}

.profile-pic,
.side-navigation,
.burger {
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.burger {
    margin: 4px 0px;
    padding-top: 120px;
}

.profile-pic span,
.side-navigation span,
.burger span {
    padding-left: 16px;
    font-size: 16px;
}

.main-division {
    margin: 0px 99px;
}



/*PROFILE SECTION*/
.myprofile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px 10px;
}

.my-p1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#profile-b {
    margin: 0px 0px 0px 12px;
    padding-right: 130px;
}

#pro {
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}

#pro-b {
    font-size: 14px;
    color: #8e8e8e;
}

.my-p2 {
    color: #0095f6;
    font-size: 12px;
    font-weight: bold;
}

#profile-a img {
    height: 56px;
    width: 56px;
    border: 2px #c7c7c7;
    border-radius: 50px;
}

.suggest {
    display: flex;
    padding: 4px 16px;
}

#suggest-a {
    font-size: 14px;
    font-weight: bold;
    color: #8e8e8e;
}

#suggest-b {
    color: #262626;
    font-size: 14px;
}

.who-to-follow img {
    height: 32px;
    width: 32px;
}

.who-to-follow .myprofile {
    padding: 8px 16px;
}

.about-ig ul {
    font-size: 12px;
    color: #c7c7c7;
    display: inline-block;
    list-style-type: none;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 19px;
}

.about-ig p {
    font-size: 12px;
    color: #c7c7c7;
}