* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

body {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px 0px 0px;
    color-scheme: dark;
}

.side-bar {
    padding: 8px 12px 20px;
    border-right: 200px #000000;
    position: fixed;
    max-width: 20%;
}

.bind {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0px 0px 19px;
    padding: 25px 12px 16px;
}

.side-nav {
    display: grid;
    justify-content: flex-start;
    align-items: center;
}

.profile-pic img {
    border-radius: 50px;
}

.side-nav img,
.burger img {
    height: 26px;
    width: 24px;
}

.profile-pic,
.side-navigation,
.burger {
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.burger {
    margin: 4px 0px;
    padding-top: 105px;
}

.profile-pic span,
.side-navigation span,
.burger span {
    padding-left: 16px;
    font-size: 16px;
}

.main-division {
    margin: 0px 99px;
    position: relative;
    max-width: 80%;
}



/*PROFILE SECTION*/
.profile {
    margin: 0px 0px 30px;
}

.myprofile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px 10px;
}

.my-p1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#profile-b {
    margin: 0px 0px 0px 12px;
    padding-right: 110px;
}

#pro {
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}

#pro-b {
    font-size: 14px;
    color: #8e8e8e;
}

.my-p2 {
    color: #0095f6;
    font-size: 12px;
    font-weight: bold;
}

#profile-a img {
    height: 56px;
    width: 56px;
    border: 2px #c7c7c7;
    border-radius: 50px;
}

.suggest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

#suggest-a {
    font-size: 14px;
    color: #a8a8a8;
    font-weight: bold;
}

#suggest-b {
    font-size: 12px;
    color: #262626;
}

.flow-img img {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    border-color: 2px #c7c7c7;
}

.flow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.who-to-follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    padding-left: 5px;
}

.followed-by {
    padding-left: 10px;
}

#followed-p2 {
    color: #8e8e8e;
    font-size: 12px;
}

#followed-p1 {
    color: #262626;
    font-size: 14px;
}

.follow p {
    color: #0095f6;
    font-size: 12px;
}

.about-ig ul {
    font-size: 12px;
    color: #c7c7c7;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 19px;
}

.about-ig span {
    padding: 2px;
}

.about-ig p {
    font-size: 12px;
    color: #c7c7c7;
}